// ------------  GENERAL --------------
main {
    background-color: $body;
    height: 100vh;
    margin-top: 40px; 
}

#app {

    background-color: $body;

}



.card-border{

    border:solid 1px $lightgrey;
    border-radius: 3px;
}


// ------------  USER INTERACTION --------------

.btn-gold{

        border: solid 1px $lightgrey;
        background-color: $header;
        color:$gold;
        padding:5px;

            &:hover{

                background-color: $lightgrey;
                color:$silver;               
            }           
}

form{

    label{

        color:$silver;
    }
    input{
        border: none;
        background-color: $silver;
            &:focus{

                border:solid 2px $gold;
                outline:none;
            }
    }
}

// ------------  TEXT --------------


.text-light{
    font-weight: lighter;
}

.text-bold{

    font-weight: bold;
}

.text-gold{

    color:$gold;
}