// ------------  GENERAL --------------
html,
body  {
    position: relative;
    min-height: 100%;
}
main {
    background-color: $body;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    overflow: hidden;
    padding-bottom: 200px;
}

@media (min-width: 768px) {
    main {
        padding-bottom: 100px;
    }

}


#app {
    background-color: $body;
}


.card-border {
    border: solid 1px $lightgrey;
    border-radius: 3px;
}

.card-header {
    padding: 1.25rem;
    font-size: 1.5rem;
    color: $gold;
    background-color: $body;
    border: none;
}



// ------------ COVER--------------

.cover{

    //debug
    height: 300px;
    
  
    
    
    .title{
        background-color: $silver;
        opacity: 0.7;
        height: 100px;
        color:$body;
        width: 100%;
        text-align: center;

        h1{
            position: relative;
            font-size: 2em;//se lo cambio non cambia un cazzo
            font-weight:300;
            top:50%;
            transform: translate(0,-50%);
        }
    }
}

// ------------  USER INTERACTION --------------
.btn-gold {

    border: solid 1px $lightgrey  !important;
    background-color: $header !important;
    color: $gold !important;
    padding: 5px !important;
    cursor: pointer;
        a{
            color: $gold !important; 
            text-decoration: none!important;
        }

        &:hover {
            background-color: $lightgrey !important;
            color: $silver !important;
        }
}



form {

    

    label {
        color: $silver;
    }
    input[type="text"], 
    input[type="email"], 
    input[type="password"]
    // textarea[type="text"]
    
        {
        border: none;
        color: $silver;
        background-color: $lightgray !important;
            &:focus {
                color:$silver;
                border: solid 2px $gold !important;
                outline: none;
            }
    }
}


/*
.form-control {
    background-color: $gold !important;
    color: $body !important;
}
*/






// ------------  TEXT --------------

html h1 {
    font-size: 2em !important;
}

@media (min-width: 576px) {
    html h1 {
        font-size: 2.5em !important;
    }  
}
@media (min-width: 768px) {
    html h1 {
        font-size: 3em !important;
    }  
}
@media (min-width: 992px) {
    html h1 {
        font-size: 4em !important;
    }  
}


  


.text-lighter {
    font-weight: lighter;
    // font-size: 1.5em;
}

.text-bold {
    font-weight: bold;
}

.text-gold {
    color: $gold;
}

.text-silver {
    color: $silver;
}
.text-lightgrey {
    color:$lightgrey;
}


// ------------  DESIGN --------------

.bordRad{

    border-radius: 3px;
}


.bord-b{

    border-bottom: solid 1px $lightgrey;

}
.bord-r{

    border-right: solid 1px $lightgrey;
}

.bord-l{

    border-left: solid 1px $lightgrey;
}

.bord-lbr{

    border-color: $lightgray;
    border-style: solid ;
    border-width: 0px 1px 1px 1px;

}

.backColorBody {
    background-color: $body !important;
}




//ALTRO


//select:hover,
select:active,
select:focus,
textarea:hover,
input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:active,
input[type="email"]:focus,
input[type="password"]:hover,
input[type="password"]:active,
input[type="password"]:focus,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

