
#cover-checkout{

    background-image: url('/storage/images/cover_7.png'); 
    background-size: cover;
    background-repeat: no-repeat;

}

.orderItem{

    font-size:1em;
    // color:$gold;
    border-color: $lightgray;
    border-style: solid ;
    border-width: 0px 1px 1px 1px;
}

.dish-list-chk{

    width: 100%;
    height:150px;
    overflow-y: auto;
    background: $body;
        input[type="text"]{

            background-color: $body !important;

        }
}

.amount{

    background-color: $body !important;
    color:$silver;
    outline:none;
    box-shadow: none;
    border:none;

}



.itemDish{

    background-color: $lightgray;
    font-size: 1.5em;

        span{
            font-size: .75em;
            font-style: italic;
        }
        
        i{
            font-size: .8em;
            display: block;
        }

        .btn-edit{
            color:$gold;
                &:hover{
                    color:$silver;
                    background-color: $lightgrey;
                }            
        }
}

.paymentForm{

    background-color:$body;
    border:1px solid $lightgray;
}






