// div,label{

//     min-height: 30px;
//     background-color: rgb(54, 54, 54);
//     border:solid 1px red;
// }
// input{

//     min-height: 30px;
//     border:solid 1px red;
// }

.card-header{
    
    background-color: $body;
    
        
        hr{
        
            width: 100%;
            border-width: 1px;
            border-color:$lightgrey;
        }
}

