
#cover-dishes{
    background-image: url('/storage/images/cover_5.png');
    background-size: cover;
    background-repeat: no-repeat;
}
// .dishes-index {
//     button a {
//         color: $gold;
//     }
//     a:hover {
//         text-decoration: none;
//         color: $silver;

//     }
// }
