// .titleMyFoods {
//     background-color: yellow;
//     height: 100px;
// }

.addDish {
 //   background-color: grey;
    color: $gold;

    a {
        text-decoration: none;
        color: $gold;
    }
}

.listItem {
    border: 2px dotted black;

}

.listItem * {
    text-align: center;
    border: 1px solid red;
}

.details {
    display: flex;
    justify-content: space-around;
}
