footer{
    width: 100%;
    min-height: 80px;
    padding: 20px 0;
    background-color: $header;
    position: absolute;
    color:$gold;
    bottom: 0;
    border-top: 1px solid $lightgray;

    a {
        color: $lightgrey-light;
       
        text-decoration: none;
    }
    
    a:hover 
    {
        color: $silver;
        text-decoration: none; 
        transition: color .2s ease-in-out !important;

    }
    .row{
        margin: 0;
    }

}

