header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 2;
    


    .navbar .container-fluid{
        background-color: $header;
        height: 70px;
        border-bottom: 1px solid $lightgray;


        .navbar-toggler{
            border: none;
        }

    }

    #navbarSupportedContent ul li a{
        color: $gold;
    }
    
    .dropdown-menu{
        background-color: $lightgray;
        
            .dropdown-item {
            
            color: $silver;
            background-color: $lightgray;
            border-color: $body;
            border-style: solid ;
            border-width: 0px 1px 1px 1px;

            &:hover{

                background-color: $lightgrey;
            }
            
        }
    }   
}
