.navbar .container-fluid{
    background-color: $header;
}

#navbarSupportedContent ul li a {
    color: $gold;
}

header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 2;
}

.navbar {
    padding: 0;

    #navbarDropdown{

        .dropdown-menu{
            background-color: $lightgrey;
        }

        a {
            color: $gold;
            text-decoration: none;

            &:hover 
            {
                color: $body; 
                text-decoration: none; 
                cursor: pointer;  
            }
        }
        
    }
    .dropdown-item {
        background-color: $header;
        border: 1px solid $gold;
    }
    
}

.navbar-toggler{
    color:$gold;
}

nav button{
    color:$gold;
}

.navbar-brand{
    padding:5px 10px;
}

.navbar-toggler{
    border: none;
}


