.homeContainer {
    background-color: $body;
    min-height: calc(100vh - 120px);
}

.homeJumbotron {
    h1 {
        color: $gold;
        font-size: 40px;
    }
    h2 {
        color: $silver;
        font-size: 25px;
    }
    img {
        height: 40px;
        width: auto;
    }
}

.homeTypologies {
    .homeTypo {
        position: relative;
    }
    .homeTypName {
        color: $gold;
        position: absolute;
        top: 60%;
        left: 0;
        text-align: center;
        background-color: $body;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0.8;
        
    }    
    img{
        width: 100%;
        height: auto;
    }
}

.homeRestourants {
    color: $gold;
    font-size: 50px;
}

@media (min-width: 576px) { 

    .homeJumbotron {
        h1 {
            font-size: 55px;
        }   
        h2 {
            font-size: 30px;
        }
        img {
            height: 55px;
            width: auto;
        }
    
    }
    .homeTypologies div {
        width: calc(100%/2);
        height: auto;
    }

}

@media (min-width: 768px) { 

    .homeJumbotron {
        h1 {
            font-size: 80px;
        }   
        h2 {
            font-size: 40px;
        }
        img {
            height: 80px;
            width: auto;
        }
    
    }    
    .homeTypologies div {
    //    width: calc(100%/2);
  //      height: auto;
    }
}

@media (min-width: 992px) { 

    .homeJumbotron {
        h1 {
            font-size: 100px;
        }    
        h2 {
            font-size: 45px;
        }
        img {
            height: 100px;
            width: auto;
        }
    
    }
    .homeTypologies {
        div {
     //   width: calc(100%/4);
      //  height: auto;
        }
    }
}
