.homeContainer {
    background-color: $body;
    min-height: 100vh;
}

.homeJumbotron {
    padding: 50px 5px 50px 5px;
    text-align: center;
    h1 {
        color: $gold;
        font-size: 40px;
    }
    h2 {
        color: $gold;
        font-size: 25px;
    }
    img {
        height: 40px;
        width: auto;
    }
}

.homeTypologies {
    padding-bottom: 50px;
    .homeTypo {
        position: relative;
    }
    .homeTypName {
        color: $silver;
        position: absolute;
        top: 70%;
        text-align: center;
        background-color: $body;
        width: 100%;
        text-transform: uppercase;
        opacity: 0.7;
    }    
    img{
        width: 100%;
        height: auto;
    }
}

.homeRestourants {
    color: $gold;
    font-size: 50px;
}

@media (min-width: 576px) { 

    .homeJumbotron {
        padding: 60px 5px 60px 5px;    
        h1 {
            font-size: 55px;
        }   
        h2 {
            font-size: 30px;
        }
        img {
            height: 55px;
            width: auto;
        }
    
    }
    .homeTypologies {
        .homeTypo {
            padding: 10px;
        }
    }
}

@media (min-width: 768px) { 

    .homeJumbotron {
        padding: 100px 10px 100px 10px;
        h1 {
            font-size: 80px;
        }   
        h2 {
            font-size: 40px;
        }
        img {
            height: 80px;
            width: auto;
        }
    
    }    
    .homeTypologies div {
        width: calc(100%/2);
        height: auto;
    }
    .homeTypologies img{
        max-width: 100%;
        max-height: auto;
    }
}

@media (min-width: 992px) { 

    .homeJumbotron {
        h1 {
            font-size: 100px;
        }    
        h2 {
            font-size: 45px;
        }
        img {
            height: 100px;
            width: auto;
        }
    
    }
    .homeTypologies {
        padding-left: 50px;
        padding-right: 50px;
        div {
        width: calc(100%/4);
        height: auto;
        }
    }
}
