.containerPageMenu{
    padding-left: 0 !important;
    padding-right:0 !important;
    background-color:$body;
    color: white;

    li{
        list-style: none;
    }
}
//***************************************************//
.coverRist{

    //debug
    height: 300px;
    background-size: cover;
    background-image: url('/storage/covers/cover_3.png');
    
    .restName{
        background-color: $silver;
        opacity: 0.7;
        height: 100px;
        color: black;
        width: 100%;
        text-align: center;

        h1{
            position: relative;
            font-size: 60px;
            font-weight: lighter;
            top:50%;
            transform: translate(0,-50%);
        }
    }
}

//ACCORDION
.menuList{
    //debug
    min-height: 100px;
    color: black;

    .listDish{
        background-color: $silver;
        padding: 0 ;
        border: none;


        .card-header{

            padding:0;
            
            .btn-dish{
                display: flex;
                justify-content: space-between;
                text-decoration: none !important;
                color: $gold !important;
                background-color: $lightgray;
                padding-left: 20px;
                padding-right: 20px;

                .item{
                    i{
                        padding-right: 15px;
                    }
                }

                .addToOrder{
                    display: inline;
                    border: 1px solid $gold;
                    padding: 4px 7px;
                    border-radius: 5px;
                    margin-left: 20px;
                }
            }
        }
    }
   
}

//SIDEBAR

.container-sidebar{
    padding: 0 40px 0 40px !important;
}

.sidebar{
    width:100%;

    .generalInfo{

        border-bottom: 1px solid $lightgrey;

        .detailsRest{

            font-size: 13px;

           .detail{
                padding: 5px 0;
                border-bottom: 1px solid $lightgrey;
            }

            .detail:last-child {
                border: none;
            }

            .detailTitle{
                color: $gold;
            }

            .opening{
                border-left: 1px solid $lightgrey;
            }

            span{
                padding-right: 10px;
            }
        }
    }
    
    .cart{
        //debug
        // min-height: 100px;
        width:100%;

        h4{
            text-align: center;
            color: $gold;
        }

        .itemsOrdered{

            padding: 20px 50px;
            max-height: 150px;
            overflow-y: auto;

            .numbItem{
                color: $gold;
            }
        }

        .btn-checkout{
            background-color: $gold;
            color:black;
        }
    }
}


@media (max-width: 992px){

    .menuList{
        margin-bottom: 100px;
    }

    .container-sidebar{
        padding: 0 60px 0 60px;

        .cart{
            position: fixed;
            bottom:0;
            left:0;
            z-index: 500;
            padding: 0 !important;

            .btn-checkout{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
    
    
}


