#cover-menu{

    background-image: url('/storage/images/cover_5.png'); 
    background-size: cover;
    background-repeat: no-repeat;

}

.itemsOrdered{

    max-height: 150px;
    overflow-y: auto;
        li{
            list-style: none;
        }
        ul{
            padding:0;
        }
}

// --------BOTTONE ORO PER CHECKOUT ---------

.btn-checkout{
    background-color: $gold;
    color:black;
    text-decoration: none;
        a{
            text-decoration: none;
            color:$body;
        } 

        &:hover{
            background-color: $lightgray;
            cursor: pointer;
            color:$silver;
                a{
                    color:$silver;
                }
        }

}

// ---------COMANDI PER CAMBIARE QUANTITA ---------
.cmdCheckout{
    background-color: $lightgray;
    color:$gold;
    &:hover{
        color:$silver;
        background-color: $lightgrey;
        cursor: pointer;
    }
}


@media (max-width: 992px){

    .menuList{
        margin-bottom: 100px;
    }

}

