
#cover-orders{
    background-image: url('/storage/images/cover_10.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.myorders {
    .cardContainer {
        border: none !important;
    }
    .orderCard {
        
        button {
            color: $gold !important;
        }
        button:hover {
            background-color: $lightgray;
            text-decoration: none !important;
            color: $silver !important;
        }
        button:focus {
            text-decoration: none !important;

        }
    
        
    }
    .orderInfo {
        color: $lightgrey-light;
        background-color: $lightgray-alpha ;
    }

    .details > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed $lightgrey;
        padding:.5em;
        &:hover{

            border-bottom: 1px solid $gold;


        }
        
    }

}