
#cover-orders{
    background-image: url('/storage/images/cover_6.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.myorders {
    .cardContainer {
        border: none !important;
    }
    .orderCard {
        border: 1px $silver solid;
        button {
            color: $gold !important;
        }
        button:hover {
            text-decoration: none !important;
            color: $gold;
        }
        button:focus {
            text-decoration: none !important;
            color: $silver !important;
        }
    
        
    }
    .orderInfo {
        color: black;
        background-color: $lightgrey ;
    }

    .details > div {
        display: flex;
        justify-content: space-between;
    }
}