.card-headerRegister{
    padding: .5rem;
    font-size: 1.5rem;
    color: $gold;
    background-color: $body;
    border: none;
    margin-bottom: 40px;
}

.registerContainer {
    border: none;
    background-color: $body;

        .col-form-label {
            color: $gold;
            padding: 0 15px;
        }
    
        .card{
                
            background-color: $body;
            border: solid 1px $lightgrey;   
                hr{
                    
                    width: 100%;
                    border-width: 1px;
                    border-color: $lightgrey;
                }
        }
    
    .card-body input{
        background-color: $silver;
    }
    
    .registerBtn {
        color: $gold;
    }
    
    #opening_hours{
        resize: none;
    }
    
}
/*
.label{
    margin:0;
}
*/





