#cover-statistics{
    background-image: url('/storage/images/cover_8.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.statisticsContainer {

    .title {
        background-color: $body;
    }


    canvas {
        background-color: $body;
    }
}